
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1C9A3D;
}

h1 sup {
  font-size: 11px;
  top: -18px;
  font-weight: 400;
  color: #297D29;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #1C9A3D;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 24px;
  color: #333;
}


svg {
  border: 1px solid #2d4a77;
}

.form-group {
  margin-right: 40px;
}
.form-group input.form-control {
  width: 100px;
  text-align: center;
}

.bar {
  fill: #3C948B;
}

.bar:hover {
  fill: #8E7060;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x-axis path {
  display: none;
}

.axis-title {
  fill: #888;
  font-size: 11px;
}